@media only screen and (max-width : 768px){
	#skills, .box-info, .background-three, .background-four {
		height: auto;
	}
	.hello{
		display: block;
		font-size: 26px;
		padding-bottom: 2rem;
	}
	.media {
		font-size: 16px;
	}
	.text{
		font-size: 26px;
	}
	.logotype {
		margin-top: 0.5rem;
		width: 50px;
	}
	.heart{
		font-size: 22px;
	}
	.box-info{
		height: auto;
		padding-top: 2rem;
	}
	.gif{
		width: 80%;
		padding-top: 0;
	}
	.lab{
		width: 12vh;
	}
	.fa{
		font-size: 40px;
		margin: 0 1rem;
	}
	h6{
		font-size: 12px;
	}
	.tool{
		text-align: center;
	}
}